body {
    background-color: rgb(229, 168, 168);
    text-align: center;
    margin-top: 40px;
  }
  
  img{width: 60%;}
  
  h1{color: rgb(87, 71, 71);
  font-size: 50px;
  }
  
  p{font-size: 30px;
  color: rgb(46, 38, 38);
  }
  
  button{
    font-size: 30px;
    margin: 10px;
    background-color: rgb(114, 110, 114);
    color: red;
    padding: 9px;
    width: 200px;
    font-weight: bold;
    border-radius: 50px;
  }